<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CnxPr4Oldb" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\kou4_\source\repos\PR4_TM_EQ5"></add>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>